.bg{
    background-color: #4362a3;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ion-header {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  
