<app-header></app-header>

<ion-content [fullscreen]="true" class="ion_content">

  <ion-card class="ion_card">
    <div class="container_img">
      <img alt="registro"
        src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg" />
    </div>

    <div id="container" class="ion_container">
        
      <ion-list >

        <ion-item class="ion_item">
          
          
          <ion-label>@for (item of items; track item.id) {
            <h1>¿Buscas un dj para un evento?</h1>
            <ion-avatar slot="start">
              <img src="{{item.picture.thumbnail}}" alt="">
            </ion-avatar>

            <p>{{ item.name.title }} {{item.name.first}} {{item.name.last}}</p>

            <p>{{ item.email }}</p>
            <p>{{ item.phone }}</p>
            <h3>¡Refresca la página para ver un nuevo dj!</h3>
            }
          </ion-label>
        </ion-item>
      </ion-list>

    </div>
    
      <ion-card-content>
        <ion-button expand="block" [routerLink]="['/inicio-sesion']">INICIO DE SESION</ion-button>
        <ion-button expand="block" [routerLink]="['/registro']">REGISTRO DE USUARIO</ion-button>
      </ion-card-content>
    

  </ion-card>

  <ion-card>
    <img alt="catalogo" src="https://cdn-icons-png.flaticon.com/512/86/86110.png" />
    <ion-card-content>
      <ion-button expand="block" [routerLink]="['/catalogo']">CATALOGO</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <img alt="menu"
      src="https://img.freepik.com/vector-premium/plantilla-infografia-grafico-circular-moderno-5-opciones-plantilla-negocio-vector-presentacion_514961-1.jpg" />
    <ion-card-content>
      <ion-button expand="block" [routerLink]="['/menu']">MENU</ion-button>
    </ion-card-content>

  </ion-card>


</ion-content>
<app-footer></app-footer>